<mat-toolbar color="primary" class="header-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title"> PropHire </span>
    <ng-container *ngIf="user$ | async as user">
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-profile-btn">
            <img *ngIf="user.img" [src]="user.img" [alt]="user.name" class="profile-img">
            <mat-icon *ngIf="!user.img">account_circle</mat-icon>
            <span class="user-display-info">
                {{ user.name }} ({{ user.role }})
            </span>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </ng-container>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened class="sidenav">
        <mat-nav-list *ngIf="user$ | async as user">

            <!-- General Dashboard Link -->
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <span matListItemTitle>Dashboard</span>
            </a>

            <!-- Account Manager Specific Links -->
            <ng-container *ngIf="user.role === 'ACCOUNT_MANAGER'">
                <mat-divider></mat-divider>
                <h3 matSubheader class="client-header">Management</h3>

                <a mat-list-item routerLink="/clients" routerLinkActive="active">
                    <mat-icon matListItemIcon>business</mat-icon>
                    <span matListItemTitle>Clients</span>
                </a>

                <a mat-list-item routerLink="/projects" routerLinkActive="active">
                    <mat-icon matListItemIcon>work</mat-icon>
                    <span matListItemTitle>Projects</span>
                </a>

                <a mat-list-item routerLink="/workflow-builder" routerLinkActive="active">
                    <mat-icon matListItemIcon>account_tree</mat-icon>
                    <span matListItemTitle>Workflow Builder</span>
                </a>
            </ng-container>

            <!-- Client Specific Links -->
            <ng-container *ngIf="user.role === 'CLIENT'">
                <mat-divider></mat-divider>
                <h3 matSubheader class="client-header">My Portal</h3>
                <a mat-list-item routerLink="/projects" routerLinkActive="active">
                    <mat-icon matListItemIcon>assignment</mat-icon>
                    <span matListItemTitle>My Projects</span>
                </a>
            </ng-container>

            <mat-divider></mat-divider>
            <h3 matSubheader class="client-header">General</h3>
            <a mat-list-item routerLink="/trainings" routerLinkActive="active">
                <mat-icon matListItemIcon>school</mat-icon>
                <span matListItemTitle>Trainings</span>
            </a>
            <a mat-list-item routerLink="/trainees" routerLinkActive="active">
                <mat-icon matListItemIcon>people</mat-icon>
                <span matListItemTitle>Trainees</span>
            </a>
            <a mat-list-item routerLink="/vendors" routerLinkActive="active">
                <mat-icon matListItemIcon>store</mat-icon>
                <span matListItemTitle>Vendors</span>
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>